@model SportsWorld.Web.Areas.Company.Models.CreateEditFieldViewModel

<div class="form-group">
    @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.EditorFor(m => m.Name)
        @Html.ValidationMessageFor(m => m.Name, null, new { @class = "text-danger" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Type, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.EditorFor(m => m.Type)
        @Html.ValidationMessageFor(m => m.Type, null, new { @class = "text-danger" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.CityInfo, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.EditorFor(m => m.CityInfo, new { Id = "inputCitiesAutocomplete" })
        @Html.ValidationMessageFor(m => m.CityInfo, null, new { @class = "text-danger" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Description, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.EditorFor(m => m.Description)
        @Html.ValidationMessageFor(m => m.Description, null, new { @class = "text-danger" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Capacity, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.EditorFor(m => m.Capacity)
        @Html.ValidationMessageFor(m => m.Capacity, null, new { @class = "text-danger" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.PricePerHour, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.PricePerHour, new { @class = "form-control hide", id = "sliderInput", data_slider_min = "0", data_slider_max = "100", data_slider_step = "0.5" })
        @Html.ValidationMessageFor(m => m.PricePerHour, null, new { @class = "text-danger" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Image, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.EditorFor(m => m.Image)
    </div>
</div>