<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)
</head>
<body>
    @{
        var navbarClass = string.Empty;
        
        if(Request.IsAuthenticated && User.IsInRole("admin"))
        {
            navbarClass = "navbar-default";
        } 
        else 
        {
            navbarClass = "navbar-inverse";
        }   
    }

    <div class="navbar @navbarClass navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @if (!Request.IsAuthenticated)
                {
                    @Html.ActionLink("Sports World", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                }
                @if (Request.IsAuthenticated && User.IsInRole("companyAgent"))
                {
                    @Html.ActionLink("Sports World", "GetMineFields", "Field", new { area = "Company" }, new { @class = "navbar-brand" })
                }
                @if (Request.IsAuthenticated && User.IsInRole("user"))
                {
                    @Html.ActionLink("Sports World", "GetAll", "Field", new { area = "User" }, new { @class = "navbar-brand" })
                }
                @if (Request.IsAuthenticated && User.IsInRole("admin"))
                {
                    @Html.ActionLink("Sports World", "Index", "Fields", new { area = "Administration" }, new { @class = "navbar-brand" })
                }
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (!Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    }
                    @if (Request.IsAuthenticated && User.IsInRole("companyAgent"))
                    {
                        <li>@Html.ActionLink("Add New Field", "Create", "Field", new { Area = "Company" }, null)</li>
                        <li>@Html.ActionLink("My Fields", "GetMineFields", "Field", new { Area = "Company" }, null)</li>
                        <li>@Html.ActionLink("Reports", "GetMineFields", "Field", new { Area = "Company" }, null)</li>
                        <li>@Html.ActionLink("Company Info", "Index", "Company", new { Area = "Company" }, null)</li>
                    }
                    @if (Request.IsAuthenticated && User.IsInRole("user"))
                    {
                        <li>@Html.ActionLink("Fields", "GetAll", "Field", new { Area = "User" }, null)</li>
                        <li>@Html.ActionLink("All Teams", "GetAll", "Team", new { Area = "User" }, null)</li>
                        <li>@Html.ActionLink("My Team", "GetMine", "Team", new { Area = "User" }, null)</li>
                    }
                    @if (Request.IsAuthenticated && User.IsInRole("admin"))
                    {
                        <li>@Html.ActionLink("Users", "Index", "User", new { Area = "Administration" }, null)</li>
                        <li>@Html.ActionLink("Fields", "Index", "Field", new { Area = "Administration" }, null)</li>
                        <li>@Html.ActionLink("Cities", "Index", "City", new { Area = "Administration" }, null)</li>
                        <li>@Html.ActionLink("Countries", "Index", "Country", new { Area = "Administration" }, null)</li>
                        <li>@Html.ActionLink("GameEvents", "Index", "GameEvent", new { Area = "Administration" }, null)</li>
                        <li>@Html.ActionLink("Messages", "Index", "Message", new { Area = "Administration" }, null)</li>
                        <li>@Html.ActionLink("Teams", "Index", "Team", new { Area = "Administration" }, null)</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p class="text-center">&copy; @DateTime.Now.Year - Sports World</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
