@model SportsWorld.Web.Areas.Company.Models.CreateEditFieldViewModel

<h3 class="text-center alert alert-dismissable alert-success">Create field</h3>

@using (Html.BeginForm("Create", "Field", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @Html.EditorForModel()
    <div class="row">
        <div class="col-md-12">
            <input type="submit" id="create" class="btn btn-success btn-block btn-lg" value="Create" />
        </div>
    </div>
}

@section Styles {
    @Styles.Render("~/Content/jqueryUiStyle")
    @Styles.Render("~/Content/slider")
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryUI")
    @Scripts.Render("~/bundles/slider")
    @Scripts.Render("~/bundles/fieldCreate")
}