@model SportsWorld.Web.Areas.Company.Models.CreateFieldViewModel

<h3 class="text-center alert alert-dismissable alert-success">Create field</h3>

@using (Html.BeginForm("Create", "Field", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Name, null, new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Type, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EnumDropDownListFor(m => m.Type, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Type, null, new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.CityInfo, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.CityInfo, new { @class = "form-control", id = "inputCitiesAutocomplete" })
            @Html.ValidationMessageFor(m => m.CityInfo, null, new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Description, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextAreaFor(m => m.Description, new { @class = "form-control restricted-max-width" })
            @Html.ValidationMessageFor(m => m.Description, null, new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Capacity, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Capacity, new { @class = "form-control", type = "number" })
            @Html.ValidationMessageFor(m => m.Capacity, null, new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.PricePerHour, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.PricePerHour, new { @class = "form-control hide", id = "sliderInput", data_slider_min = "0", data_slider_max = "100", data_slider_step = "0.5" })
            @Html.ValidationMessageFor(m => m.PricePerHour, null, new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Image, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            <input type="file" name="Image" value="Browse" accept="image/*" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <input type="submit" class="btn btn-success btn-block btn-lg" value="Create" />
        </div>
    </div>
}

@section Styles {
    @Styles.Render("~/Content/jqueryUiStyle")
    @Styles.Render("~/Content/slider")
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryUI")
    @Scripts.Render("~/bundles/fieldCreate")
    @Scripts.Render("~/bundles/slider")
}