@model SportsWorld.Web.Areas.Company.Models.FieldDetailsViewModel

<h3 class="text-center alert alert-info big-text">@string.Format("\"{0}\" {1} field, owned by {2}", Model.Name, Model.Type, Model.CompanyName)</h3>

<div class="row">
    <div class="col-md-6">
        <div class="ratio img-rounded" style="background-image: url('@(Model.Image!=null? Model.Image: Url.Content("~/Images/default.png"))')">
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-6">
                <p>
                    <strong class="text-primary">Location:</strong>
                    @Model.CityName, @Model.CountryName
                </p>
            </div>
            <div class="col-md-6">
                <p>
                    <strong class="text-primary">Created:</strong>
                    @Html.DisplayFor(m => Model.DateCreated)
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p>
                    <strong class="text-primary">Capacity:</strong>
                    @Html.DisplayFor(m => Model.Capacity)
                </p>
            </div>
            <div class="col-md-6">
                <p>
                    <strong class="text-primary">Price per hour:</strong>
                    @Html.DisplayFor(m => Model.PricePerHour)
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p>
                    <strong class="text-primary">Total events:</strong>
                    @Html.DisplayFor(m => Model.GameEvents.Count)
                </p>
            </div>
            <div class="col-md-6">
                <p>
                    <strong class="text-primary">Total earned money:</strong>
                    @Html.DisplayFor(m => Model.TotalEarned)
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>
                    @Html.Rating(Model.FieldRating, 5)
                    <strong class="text-primary">@Html.DisplayFor(m => Model.FieldRating)/5</strong>
                </p>

            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <p>
                    <strong class="text-primary">Description:</strong>
                    @Html.DisplayFor(m => Model.Description)
                </p>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <div id="EditFieldPartial"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <input type="button" class="btn btn-warning btn-block" id="EditButton" value="Edit" />
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title text-center">Comments</h3>
            </div>
            <div class="panel-body ">
                <div class="max-height-with-scroll">
                    @Html.Partial("_Comments", Model.Comments)
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <span id="ErrorMessage" class="text-danger text-center"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        @Html.TextArea("Message", new { id = "MessageBox", @class = "form-control restricted-max-width", rows = "2"})
                    </div>
                    <div class="col-md-2">
                        <button type="button" id="SendMessageButton" class="btn btn-primary">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">

    </div>
</div>

@section Styles {
    @Styles.Render("~/Content/jqueryUiStyle")
    @Styles.Render("~/Content/slider")
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryUI")
    @Scripts.Render("~/bundles/slider")
    @Scripts.Render("~/bundles/fieldCreate")
    @Scripts.Render("~/bundles/fieldDetails")
    <script>
        $(function () {
            sportsWorld.fieldDetails(@Model.ID);
        });
    </script>
}
