@model IEnumerable<SportsWorld.Web.Areas.Company.Models.MineFieldGridViewModel>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-6 col-lg-6 col-md-6">
            <div class="thumbnail">
                <a href="~/Company/Field/Details/@item.ID" title="@item.Name">
                    <div class="ratio img-rounded" style="background-image: url('@(item.Image!=null? item.Image: Url.Content("~/Images/default.png"))')">
                    </div>
                </a>
                <div class="caption">
                    <div class="row">
                        <div class="col-md-7">
                            <h4 class="truncate" style="height: 40px">
                                <strong class="text-primary">@Html.ActionLink(string.Format("{0} ({1}, {2})", item.Name, item.CityName, item.CountryName), "Details", "Field", new { Area = "Company" }, null)</strong>
                            </h4>
                        </div>
                        <div class="col-md-5">
                            <h4 class="pull-right">
                                <strong class="text-primary">Field type: </strong>
                                @Html.DisplayFor(m => item.Type)
                            </h4>
                        </div>
                    </div> 
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p>
                            <strong class="text-primary">Hour price:</strong>
                            @Html.DisplayFor(m => item.PricePerHour)
                        </p>
                    </div>
                    <div class="col-md-6 text-right">
                        <p>
                            <strong class="text-primary">Max people:</strong>
                            @Html.DisplayFor(m => item.Capacity)
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p>
                            <strong class="text-primary">Company name:</strong>
                            @Html.DisplayFor(m => item.CompanyName)
                        </p>
                    </div>
                    <div class="col-md-6 text-right">
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <p>
                            <strong class="text-primary">Created on: </strong>
                            @Html.DisplayFor(m => item.DateCreated)
                        </p>
                    </div>
                    <div class="col-md-5 text-right">
                        <p>
                            <strong class="text-primary">Comments:</strong>
                            @Html.DisplayFor(m => item.CommentsCount)
                        </p>
                    </div>
                </div>
                <a href="~/Company/Field/Details/@item.ID" class="btn btn-info btn-block">View</a>
            </div>
        </div>
    }
</div>