@model IEnumerable<SportsWorld.Web.Areas.Company.Models.MineFieldGridViewModel>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <a href="~/User/BeerDetails.aspx?id=@item.ID" title="@item.Name">
                    <img src="@(item.Image!=null? item.Image: "~Images/default.png")" />
                </a>
                <div class="caption">
                    <h4 class="pull-right">
                        Field type: @item.Type
                    </h4>
                    <h4 class="truncate" style="height: 40px">
                        <a href='~/User/BeerDetails.aspx?id=@item.ID'>
                            @item.Name (@item.CityName, @item.CountryName)
                        </a>
                    </h4>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p>
                            Hour price: @item.PricePerHour
                        </p>
                    </div>
                    <div class="col-md-6 text-right">
                        <p>
                            Max people: @item.Capacity
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p>
                            Company name: @Html.DisplayFor(m => item.CompanyName)
                        </p>
                    </div>
                    <div class="col-md-6 text-right">
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <p>
                            @item.DateCreated
                        </p>
                    </div>
                    <div class="col-md-5 text-right">
                        <p>
                            Comments: @item.CommentsCount
                        </p>
                    </div>
                </div>
                <a href='<%#: "~/User/BeerDetails.aspx?id=" + Item.ID %>' class="btn btn-info btn-block">View</a>
            </div>
        </div>
    }
</div>
