@model SportsWorld.Web.Areas.User.Models.FieldUserDetailsViewModel

<h3 class="text-center alert alert-info big-text">@string.Format("\"{0}\" {1} field, owned by {2}", Model.Name, Model.Type, Model.CompanyName)</h3>

<div class="row">
    <div class="col-md-6">
        <div class="ratio img-rounded" style="background-image: url('@(Model.Image!=null? Model.Image: Url.Content("~/Images/default.png"))')">
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-6">
                <p>
                    <strong class="text-primary">Location:</strong>
                    @Model.CityName, @Model.CountryName
                </p>
            </div>
            <div class="col-md-6">
                <p>
                    <strong class="text-primary">Created:</strong>
                    @Html.DisplayFor(m => Model.DateCreated)
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p>
                    <strong class="text-primary">Capacity:</strong>
                    @Html.DisplayFor(m => Model.Capacity)
                </p>
            </div>
            <div class="col-md-6">
                <p>
                    <strong class="text-primary">Price per hour:</strong>
                    @Html.DisplayFor(m => Model.PricePerHour)
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <strong class="text-primary">Rating:</strong>
                <div id="star-rating" class="hide">
                    <input type="radio" name="fieldRating" class="rating" value="1" />
                    <input type="radio" name="fieldRating" class="rating" value="2" />
                    <input type="radio" name="fieldRating" class="rating" value="3" />
                    <input type="radio" name="fieldRating" class="rating" value="4" />
                    <input type="radio" name="fieldRating" class="rating" value="5" />
                </div>
                <span>
                    <span id="RatingSummary">@Html.DisplayFor(m => m.FieldRating)</span>/5 (Voted: <span id="VotesCount">@Html.DisplayFor(m => m.VotesCount)</span> people)
                </span>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <p>
                    <strong class="text-primary">Description:</strong>
                    @Html.DisplayFor(m => Model.Description)
                </p>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title text-center">Comments</h3>
            </div>
            <div class="panel-body ">
                <div class="max-height-with-scroll">
                    @Html.Partial("_Comments", Model.Comments)
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <span id="ErrorMessage" class="text-danger text-center"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        @Html.TextArea("Message", new { id = "MessageBox", @class = "form-control restricted-max-width", rows = "2" })
                    </div>
                    <div class="col-md-2">
                        <button type="button" id="SendMessageButton" class="btn btn-primary">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/Content/kendo")
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/kendo")
    @Scripts.Render("~/bundles/comments")
    @Scripts.Render("~/bundles/rating")
    <script>
        $(function () {
            sportsWorld.commentSend('/Comment/Send/@Model.ID');
            $('#star-rating').rating(function (vote, event) {
                var data = {
                    id: @Model.ID,
                    rating : vote
                };

                $.post('/User/Rating/Rate/', data)
                    .done(function(data){
                        if(data.success == true){
                            $("#RatingSummary").text(data.averageRate);
                            $("#VotesCount").text(data.votesCount);
                        }
                    })
            });

            $('.star').closest('a[title="@Model.UserVote"]').click()
            $('#star-rating').removeAttr("class");
        });
    </script>
}